.font-header {
    font-size: large;
    margin-top: 1%;
    margin-left: 30%
}

ul li {
    margin: 1% 4%;
    padding: 10px;
}

.basket {
    margin-top: -3px;
    border: 1px solid green;
    border-radius: 20px;
    padding: 15px 35px;
    background: #426B1F;
    color: white;
    font-weight: 500;
}
