.font-header {
    font-size: large;
    margin-top: 1%;
    margin-left: 43%
}

nav ul li {
    margin: 1% 0%;
    padding: 10px;
}

.basket {
    margin-top: 11px;
    border: 1px solid green;
    border-radius: 14px;
    padding: 8px 16px;
    background: #426B1F;
    font-weight: 500;
    width: 132px;
}

.basket a {
    color: white;
}