.font-sec-1 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 50px;
  margin-top: 15%;
  margin-left: 3%;
}

.list-bg {
    background: #EEDECD;
}

.list-bg {
    margin-top: 5%;
}

.list-bg img {
    width: 300px;
}

.font-sec-2 {
    margin-left: 36%;
    font-size: 25px;
    font-weight: 700;
    color: #A73939;
}