.font-sec-1 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 50px;
  margin-top: 15%;
  margin-left: 3%;
}

.list-bg {
    background: #EEDECD;
    margin-top: 5%;
    margin-bottom: 5%;
}

.list-bg img {
    width: 300px;
}

.font-sec-2 {
    margin-left: 36%;
    font-size: 25px;
    font-weight: 700;
    color: #A73939;
}

.contact-bg {


    margin-top: 5%;
    margin-bottom: 5%;
}

.font-sec-3 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 50px;
  margin-top: 6%;
  margin-left: 3%;
}

.contact-span-1 {
     color: #696140;
     font-weight: 700;
     font-size: 66px;
}

.font-sec-4 {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-left: 56%;
    font-size: 28px;
    border-radius: 50px;
    padding: 13px 41px;
    background: #7A4015;
    color: white;
}

.introduce-bg {
    background: #F6EDCE;
}

.introduce-div {
    height: 500px;
    margin-top: 9%;
    justify-content: space-around;
    font-size: 90px;
    font-style: oblique;
}

