.product-title {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 50px;
}

.filter-btn {
    border-radius: 25px;
    padding: 4px 15px;
    border: 1px;
}

.filter-div-btn > div {
    margin: 17px 7px;
}

.product-cell {
    border-radius: 38px;
}

.add-to-cart-btn {
    border-radius: 16px;
    padding: 6px 15px;
    background: #426B1F;
    color: white;
    margin-left: 29%;
    border: 1px;
}

.card-title {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

.card-text {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    color: #426B1F;
}

.search-btn {
    border-radius: 4px;
    background: #426B1F;
    color: white;
    border: 1px;
}