{% extends 'layout/base.html'%}

{% block content %}
<div>

    <form style="margin-left: 5%;" class="title-checkout input-checkout" method="POST" action="/payment">
        <h4 class="mt-5" style="margin-left: 18%;">THÔNG TIN THANH TOÁN</h4>
        <div class="mb-3 mt-3">
            <label for="ho_ten" class="form-label title-login" style="margin-left: 18%">Họ và tên:</label>
            <input type="text" class="form-control " id="ho_ten" placeholder="nhập họ và tên" name="ho_ten" required>
        </div>
        <div class="mb-3">
            <label for="so_dien_thoai" class="form-label title-login">Số điện thoại:</label>
            <input type="tel" class="form-control" id="so_dien_thoai" placeholder="nhập số điện thoại"
                   name="so_dien_thoai" required>
        </div>
        <div class="mb-3 mt-3">
            <label for="dia_chi" class="form-label title-login">Địa chỉ:</label>
            <input type="text" class="form-control" id="dia_chi" placeholder="nhập địa chỉ" name="dia_chi" required>
        </div>
        <div class="mb-3">
            <label for="thanh_pho" class="form-label title-login">Thành phố/Tỉnh:</label>
            <select id="thanh_pho" name="thanh_pho" style="width: 200px; height: 50px;">
<!--                <option value="ha_noi">Hà Nội</option>-->
                <option value="tp_hcm">Thành phố Hồ Chí Minh</option>
            </select>

        </div>
        <div class="mb-3 mt-3">
            <label for="quan_huyen" class="form-label title-login">Quận/Huyện:</label>
            <select id="quan_huyen" name="quan_huyen" style="width: 200px; height: 50px;">
                <option value="ha_noi">Quận 1</option>
                <option value="tp_hcm">Huyện Bình Chánh</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="ghi_chu" class="form-label title-login">Ghi chú đơn hàng:</label>
            <input type="text" class="form-control" id="ghi_chu" name="ghi_chu">
        </div>

        <h4 class="mt-5" style="margin-left: 18%;">THÔNG TIN ĐƠN HÀNG</h4>

        <div class="info-products-checkout">
            {% if 'basket' in session %}
            <div style="margin-bottom: 15px; font-weight: 600; font-size: x-large;">Sản phẩm</div>
                {% for b in session['basket'].values() %}
            <div>
                <p style="color: #F9A747; margin-bottom: 0;font-size: x-large; font-weight: 500;">b.name</p>
                <div class="d-flex">
                    <p>x{{b.quantity}}</p>
                    <p style="margin-left: 35px; color: #F6780A; font-weight: 600; ">{{ "{:,.0f}".format(b.price * b.quantity) }} VND</p>
                </div>
                <hr style="margin-top: -3px; margin-bottom: 10px;">

            </div>
                {% endfor %}
            <div class="d-flex">
                <p style="margin-bottom: 15px; font-weight: 600; font-size: x-large;">Subtotal</p>
                <p style="margin-left: 35px; color: #F6780A;  font-size: x-large; font-weight: 600;">{{ "{:,.0f}".format(basket.total_basket) }} VND</p>
            </div>

            {% endif %}
        </div>

        <div class="mt-3" style="margin-left: 18%">
            <button type="submit" name="momo" class="button-checkout" style="margin-bottom: 11px;">Thanh toán MOMO
            </button>
            <button name="cod" class="button-checkout" style="margin-left: 5%;" onclick="payCOD()">Thanh toán trực tiếp
            </button>
        </div>

    </form>
</div>
{% endblock %}