{% extends 'layout/base.html'%}

{% block content %}

<section>
    <div class="d-flex">
        <div>
        <img src="static/images/img1.jpg">
    </div>
    <div class="font-sec-1">
        <span style="margin-left: 6%;">We're a <span style="font-style: italic">master piece</span></span>
        <br>
        <span>We need you in our life</span>
    </div>
    </div>

</section>

<section class="list-bg">
    <div class="d-flex">
        <div class="mt-5" style="margin-left: 5%">
            <div>
                <img src="static/images/img3.jpg">
            </div>
            <span class="font-sec-2">Cake</span>
        </div>
         <div class="mt-5" style="margin-left: 10%">
             <div>
                <img src="static/images/img4.jpg">
            </div>
            <span class="font-sec-2">Coffee</span>
        </div>
        <div class="mt-5" style="margin-left: 10%">
             <div>
                <img src="static/images/img2.jpg">
            </div>
            <span class="font-sec-2">Dessert</span>
        </div>
    </div>
</section>

<section class="contact-bg" style="background-size: 700px;background: #EEDECD;">
    <div class="d-flex" >
        <div style="margin: 5% 5%;">
        <img style="width: 445px" src="static/images/img5.jpg">
    </div>
    <div class="font-sec-3">
        <span class="contact-span-1" >If you need us,</span>
        <br>
        <span class="contact-span-1" style="font-size: 56px"> call now to delivery!</span>
        <br>
        <br>
        <span style="margin-left: 72%; font-size: 28px;font-weight: 800;">05623***</span>
        <br>
        <span style="margin-left: 25%; font-size: 28px;font-weight: 800;">20 ABC street, Distric *, H city</span>

    </div>
    </div>
</section>

{% endblock %}