{% extends 'layout/base.html'%}

{% block content %}
<nav>
<!--    <div>-->
<!--        <img style="width: 390px; margin-left: 9%;" src="static/images/main.png">-->
<!--    </div>-->
    <div>
        <div class="login-font">
            Login
        </div>
        <div class="login-border">
            <form action="/action_page.php">
                <div class="mb-3 mt-3 d-flex">
                    <label for="text" class="form-label title-login">User name:</label>
                    <input type="text" class="form-control" id="text" placeholder="User name" name="text">
                </div>
                <div class="mb-3 d-flex">
                    <label for="pwd" class="form-label title-login">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                    </label>
                </div>
                <div class="forgot-title">Forgot password?</div>
                <button type="submit" class="btn-sign">Submit</button>
                <div style="    margin: 13px 0px 13px 59%; font-size: x-large; font-weight: 600;">or</div>
                <button style="margin-left: 43%" type="submit" class="btn-sign">Join with us now!</button>
            </form>
        </div>
    </div>
</nav>
{% endblock %}